/Ischnura_SDM/data/
*.zip
/IschnuraRangeShifter/IschnuraRangeShifter/Shapefiles/
/SDM_tutorials/
Ischnura_SDM/IschnuraNicheModel_FENNO10
RSR_Tutorial/
RSR_single/
/IschnuraRangeShifter/lakes_gml_inspire/
Ischnura_SDM/isch_predict_worldclim.img
Ischnura_SDM/isch_predict_worldclim.img.aux.xml
Ischnura_SDM/spatial_thin_log.txt
Ischnura_SDM/.Rhistory
